# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Uploaded files
uploads/*
!uploads/.gitkeep

# Runtime data
pids
*.pid
*.seed

# Dependency directories
.npm

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# OS files
.DS_Store
Thumbs.db